

.title {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 19px;
  margin-bottom: 8px;
}

.breadcrumbs {
  min-width: 167px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.form-support {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us-form {
  display: flex;
  padding: 40px 40px;
  width: 680px;
  min-height: 542px;
  flex-wrap: wrap;
  background: #E5EAF8;
  position: relative;
}

.support {

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    width: 380px;
    margin-top: 0;
    padding-bottom: 4px;

    &_large {
      font-family: 'Montserrat', 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 26px;
      line-height: 34px;
      text-transform: uppercase;
      color: #C29974;
    }
  }
}

.modal-close {
  display: none;
}