<div class="pagination container">
  <button class="pagination__arrow pagination__arrow_left" type="button" aria-label="arrow-left"></button>
    <ul class="pagination__list">
      <li class="pagination__link pagination__link_active">1</li>
      <li><a class="pagination__link" href="#">2</a></li>
      <li><a class="pagination__link" href="#">3</a></li>
      <li><a class="pagination__link" href="#">4</a></li>
    </ul>
  <button class="pagination__arrow pagination__arrow_right" type="button" aria-label="arrow-right"></button>
</div>