<div class="pagination-links container">
  <button class="pagination-arrow arrow-left" type="button" aria-label="arrow-left"></button>
    <ul class="pagination-list">
      <li class="pagination-link pagination-link-active">1</li>
      <li><a class="pagination-link" href="#">2</a></li>
      <li><a class="pagination-link" href="#">3</a></li>
      <li><a class="pagination-link" href="#">4</a></li>
    </ul>
  <button class="pagination-arrow arrow-right" type="button" aria-label="arrow-right"></button>
</div>