.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  padding: 9px 22px;
  background-color:  #000000;
  border: 0;
  outline: none;

  &:hover, &:focus {
    background-color: #C29974;
    cursor: pointer;
  }
  
  &:active {
    background-color: #CFAF91;
    cursor: none;
  }
}

