.form-label-text {
  font-family: 'Roboto', 'news-roman', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #1E0606;
  position: absolute;
  left: 0;
  top: -21px;
}

.form-contact {
  display: flex;
  justify-content: space-between;
  width: 600px;
  position: relative;
}
  
.form-label {
  position: relative;
  margin: 22px 0;
}

.form-input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 13px;
  font-family: 'Roboto', 'news-roman', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #1E0606;
  outline: none;
}

.form-input:focus, .form-input:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 12px;
}

.form-input-name {
  width: 600px;
}

.form-input-name::-webkit-input-placeholder {
  color: #1E0606;
  padding-left: 5px;
}

.form-input-contact {
  width: 290px;
}

.form-input-message {
  width: 600px;
  min-height: 150px;
  resize: none;
  margin-bottom: -6px;
}

.form-consent {
  font-family: 'Roboto', 'news-roman', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1E0606;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.input-consent {
  position: absolute;
  opacity: 0;
}

.input-consent-indicator {
  padding-left: 33px;
}

.input-consent-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  border-radius: 3px;
}

.input-consent:checked + .input-consent-indicator::before {
  background: url(../../static/images/checkbox.svg) no-repeat #FFFFFF;
}

.input-consent:focus + .input-consent-indicator {
  text-decoration: underline;
} 

.input-consent:disabled + .input-consent-indicator::before {
  border: 2px solid #E1CDBA;
}