
.contact-us-form {

  &__label {
    position: relative;
    margin: 22px 0;

    &__text {
      font-family: 'Roboto', 'news-roman', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #1E0606;
      position: absolute;
      left: 0;
      top: -21px;
    }
  }

  &__input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 13px;
    font-family: 'Roboto', 'news-roman', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #1E0606;
    outline: none;

    &:focus, &:hover {
      border: 2px solid rgba(0, 0, 0, 0.3);
      padding: 12px;
    }

    &__name {
      width: 600px;

      &::-webkit-input-placeholder {
        color: #1E0606;
        padding-left: 5px;
      }
    }

    &__contact {
      width: 290px;
    }
    
    &__message {
      width: 600px;
      min-height: 150px;
      resize: none;
      margin-bottom: -6px;
    }
  }
  
}

.form-contact {
  display: flex;
  justify-content: space-between;
  width: 600px;
  position: relative;
}

.form-consent {
  font-family: 'Roboto', 'news-roman', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1E0606;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &__input-consent {
    position: absolute;
    opacity: 0;

    &:checked + &__indicator::before {
      background: url(../../static/images/checkbox.svg) no-repeat #FFFFFF;
    }

    &:focus + &__indicator {
      text-decoration: underline;
    } 
    
    &:disabled + &__indicator::before {
      border: 2px solid #E1CDBA;
    }

    &__indicator {
      padding-left: 33px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        border: 2px solid #C29974;
        border-radius: 3px;
      }
    }
  }
}



