
.form-delivery {
  border: none;
  margin-right: -37px;

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
  }

  &__indicator {
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      border: 2px solid #C29974;
      border-radius: 20px;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
    }
  }

  &__radio {
    position: absolute;
    opacity: 0;

    &:checked + .form-delivery__indicator::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: #C29974;
      border-radius: 12px;
    }

    &:disabled + .form-delivery__indicator::before {
      border: 2px solid #E1CDBA;
    }

    &:disabled + .form-delivery__indicator::after {
      background: #E1CDBA;
    }

    &:focus + .form-delivery__indicator {
      text-decoration: underline;
    }
  }
}