.form-color {
  border: none;
  margin-right: 15px;

  &__label{
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;

    &:checked + .form-color__indicator::before {
      background: url(../../static/images/checkbox.svg) no-repeat #FFFFFF;
    }
    
    &:focus + .form-color__indicator {
      text-decoration: underline;
    } 
    
    &:disabled + .form-color__indicator::before{
      background: url(../../static/images/checkboxDisabled.svg) no-repeat;
      border: 2px solid #E1CDBA;
    }
  }

  &__indicator {
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 19px;
      height: 19px;
      border: 2px solid #C29974;
      border-radius: 3px;
    }
  }
}