
.container-amount {
  display: flex;
}

.form-amount {
  border: none;
  margin-right: -33px;

  &__label {
    position: relative;
  }

  &__indicator {
    display: flex;
    width: 80px;
    height: 35px;
    padding-top: 7px;
    justify-content: center;
    background: #FFFFFF;
  }

  &__radio {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;

    &:hover + .form-amount__indicator {
      background: #EDDEEB;
      text-decoration: none;
    }
    
    &:focus + .form-amount__indicator {
      background: #EDDEEB;
      text-decoration: underline;
    }
    
    &:checked + .form-amount__indicator {
      background: #F3D0DB;
    
    }
    
    &:disabled + .form-amount__indicator {
      background: #E1CDBA;
      text-decoration: none;
    }
  }
}
