
@import "../var";

.header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;

  &__logo {
    width: 110px;
    height: 54px;
    opacity: 1;
    transition: all .4s;

    &:hover, &:focus {
      opacity: $hover;
      outline: none;
    }

    &:active {
      opacity: $active;
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  &__list {

    &-links {
      display: flex;
      margin-left: 60px;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
    }
  
    &-contacts {
      display: flex;
      justify-content: space-between;  
      align-items: center;
      list-style-type: none;
      padding-left: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: $black;
    margin-right: 20px;
    opacity: 1;
    transition: all .4s;
    
    &:hover, &:focus {
      opacity: $hover;
      outline: none;
    }

    &:active {
      opacity: $active;
    }    
  }

  &__search-button {
    opacity: 1;
    transition: all .4s;

    &:hover, &:focus {
      opacity: $hover;
      outline: none;
    }

    &:active {
      opacity: $active;
    }    
  }

  &__contact-link {
    font-weight: bold;
    margin-left: 26px;
    font-size: 14px;
    line-height: 19px;  
    text-transform: uppercase;
    color: $black;  
    opacity: 1;
    transition: all .4s;

    &:hover, &:focus {
      opacity: $hover;
      outline: none;
    }

    &:active {
      opacity: $active;
    }    
  }
}