<header class="header container">
  <a href="/index.html">
  <img class="header-log" src="../../static/images/logo.svg" alt="logo" width="100" height="52">
  </a>
  <nav class="header-nav">
    <ul class="header-list-links">
      <li><a class="link" href="../../pages/blog/index.html">blog</a></li>
      <li><a class="link" href="../../pages/catalog/index.html">catalog</a></li>
      <li><a class="link" href="../../pages/toys/index.html">toys</a></li>
    </ul>
    <ul class="header-list-contacts">
      <li>
        <a href="#">
        <img class="header-button header-button_js header-search-button" src="../../static/images/search.svg" alt="search" width="17" height="17">
        </a>
      </li>
      <li><a class="contact-link" href="../../pages/contactUs/index.html">contact us</a></li>
    </ul>      
  </nav>
</header>