$black: #1E0606;

$brown: #C29974;

$roboto: 'Roboto', 'news-roman', sans-serif;

$titleSize: 40px;

$textSize: 16px;

%montserrat {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
} 

%crimsonText {
  font-family: 'Crimson Text', 'tinos', serif;
  font-style: italic;
  font-size: 26px;
}

