<footer class="footer">
  <div class="footer__links container">
  <section class="navigation">
    <h2 class="navigation__title">Navigation</h2>
    <ul class="navigation__list">
      <li><a class="navigation__link" href="../../pages/toys/index.html">Toys</a></li>
      <li><a class="navigation__link" href="../../pages/blog/index.html">Blog</a></li>
      <li><a class="navigation__link" href="#">Design Services</a></li>
      <li><a class="navigation__link" href="#">Featured On</a></li>
      <li><a class="navigation__link" href="#">2018 Holiday Catalog</a></li>
      <li><a class="navigation__link" href="#">Shop By Designer</a></li>          
    </ul>
  </section>
  <section class="customer-information">
    <h2 class="customer-information__title">Customer Information</h2>
    <ul class="customer-information__list">
      <li><a class="customer-information__link" href="../../pages/contactUs/index.html">Contact Us</a></li>
      <li><a class="customer-information__link" href="#">Sale Exclusions</a></li>
      <li><a class="customer-information__link" href="#">Shipping & Returns</a></li>
      <li><a class="customer-information__link" href="#">Terms & Conditions</a></li>
      <li><a class="customer-information__link" href="#">Privacy Policy</a></li>
      <li><a class="customer-information__link" href="#">Search</a></li>
    </ul>
  </section>
  <section class="connect">
    <h2 class="connect__title">Connect</h2>
    <form class="form-email" action="#">
      <label>          
      <input class="form-email__input" placeholder="Email" type="email" name="email">       
      </label>
      @@include('button/index.html', {
        "text": "join"
        })
    </form>
    <ul class="connect__social-list">
      <li><a href="#"><img class="connect__social-link" src="../../static/images/facebook.svg" alt="facebook" aria-label="facebook" width="30" height="30"></a></li>
      <li><a href="#"><img class="connect__social-link" src="../../static/images/twitter.svg" alt="twitter" aria-label="twitter" width="30" height="30"></a></li>
      <li><a href="#"><img class="connect__social-link" src="../../static/images/pinterest.svg" alt="pinterest" aria-label="pinterest" width="30" height="30"></a></li>
      <li><a href="#"><img class="connect__social-link" src="../../static/images/instagram.svg" alt="instagram" aria-label="instagram" width="30" height="30"></a></li>
    </ul>
  </section>
  </div>
  <section class="footer-information container">
    <div class="company-rating">
      <p class="company-rating__text">Company Rating</p>
      <span class="company-rating__star"></span>
      <span class="company-rating__star"></span>
      <span class="company-rating__star"></span>
      <span class="company-rating__star"></span>
      <span class="company-rating__star company-rating__star_deactive"></span>
    </div>
    <p class="footer-information__copyright">Copyright © 2018 Dlk • Design Life Kids</p>
    <a class="footer-information__web-design-link" href="#">Web Design — Direct Line Development</a>
  </section>
</footer> 