<footer class="footer">
  <div class="footer-links container">
  <section class="navigation">
    <h2 class="navigation-title">Navigation</h2>
    <ul class="navigation-list">
      <li><a class="navigation-link" href="../../pages/toys/index.html">Toys</a></li>
      <li><a class="navigation-link" href="../../pages/blog/index.html">Blog</a></li>
      <li><a class="navigation-link" href="#">Design Services</a></li>
      <li><a class="navigation-link" href="#">Featured On</a></li>
      <li><a class="navigation-link" href="#">2018 Holiday Catalog</a></li>
      <li><a class="navigation-link" href="#">Shop By Designer</a></li>          
    </ul>
  </section>
  <section class="customer-information">
    <h2 class="customer-information-title">Customer Information</h2>
    <ul class="customer-information-list">
      <li><a class="customer-information-link" href="../../pages/contactUs/index.html">Contact Us</a></li>
      <li><a class="customer-information-link" href="#">Sale Exclusions</a></li>
      <li><a class="customer-information-link" href="#">Shipping & Returns</a></li>
      <li><a class="customer-information-link" href="#">Terms & Conditions</a></li>
      <li><a class="customer-information-link" href="#">Privacy Policy</a></li>
      <li><a class="customer-information-link" href="#">Search</a></li>
    </ul>
  </section>
  <section class="connect">
    <h2 class="connect-title">Connect</h2>
    <form class="form-email" action="#">
      <label class="email">          
      <input class="email-input" placeholder="Email" type="email" name="email">       
      </label>
      @@include('button/index.html', {
        "text": "join"
        })
    </form>
    <ul class="social-link list-point-none">
      <li><a href="#"><img class="social-img" src="../../static/images/facebook.svg" alt="facebook" aria-label="facebook" width="30" height="30"></a></li>
      <li><a href="#"><img class="social-img" src="../../static/images/twitter.svg" alt="twitter" aria-label="twitter" width="30" height="30"></a></li>
      <li><a href="#"><img class="social-img" src="../../static/images/pinterest.svg" alt="pinterest" aria-label="pinterest" width="30" height="30"></a></li>
      <li><a href="#"><img class="social-img" src="../../static/images/instagram.svg" alt="instagram" aria-label="instagram" width="30" height="30"></a></li>
    </ul>
  </section>
  </div>
  <div class="footer-information container">
    <div class="company-rating">
      <p class="rating-text">Company Rating</p>
      <span class="rating-star"></span>
      <span class="rating-star"></span>
      <span class="rating-star"></span>
      <span class="rating-star"></span>
      <span class="rating-star rating-star_deactive"></span>
    </div>
    <p class="copyright">Copyright © 2018 Dlk • Design Life Kids</p>
    <a class="web-design-link" href="#">Web Design — Direct Line Development</a>
  </div>
</footer> 