
.title {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 18px;
  margin-bottom: 8px;
}

.breadcrumbs {
  min-width: 229px;
  margin-top: 7px;
  margin-bottom: 25px;
}

/* form */

.form {
  background-color: rgba(125, 151, 218, 0.2);

  &__order {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 85px 15px 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-bottom: 9px;
  }
  
  &__text {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    align-items: center;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/* form-cost */

.form-cost {
  border: none;
  width: 214px;

  &__range {
    -webkit-appearance: none;
    width: 100%;  
    
    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      border-radius: 24px;
      margin-top: -10px;
      background: #C29974;
      cursor: pointer;      
    }
    
    /* Тоже самое для Firefox */
    &::-moz-range-thumb {
      height: 24px;
      width: 24px;
      border-radius: 24px;
      background: #C29974;
      cursor: pointer;
    }
    
    /* Тоже самое для IE */
    &::-ms-thumb {
      height: 24px;
      width: 24px;
      border-radius: 24px;
      background: #C29974;
      cursor: pointer;
    }
    
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: #000000;
      opacity: 0.5;
    }
    
    &:focus::-webkit-slider-runnable-track {
      background: #000000;
      opacity: 0.5;
    }
    
    &::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: #000000;
      opacity: 0.5;
    }
    
    &::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    
    &::-ms-fill-lower {
      background: #000000;
      opacity: 0.5;    
    }
    
    &:focus::-ms-fill-lower {
      background: #000000;
      opacity: 0.5;    
    }
    
    &::-ms-fill-upper {
      background: #C29974;    
    }
    &:focus::-ms-fill-upper {
      background: #C29974;    
    }
  }  
}

/* form-color */



/* form-delivery */



/* form-amount */


.legend-amount {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.form-button {
  height: 40px;
  margin-top: 37px;
  margin-right: 20px;
}


/* toys */

.pagination-links {
  margin-top: 18px;
  margin-bottom: -13px;
}

