
@import "../var";

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 120px;
  list-style-type: none;
  padding-left: 0;  

  &__link {
    @extend %crimsonText;
    // font-family: 'Crimson Text', 'tinos', serif;
    // font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: $black;
    transition: all .4s;

    &:hover, &:focus {
      opacity: .75;
    }

    &:active {
      color: $black;
      opacity: 1;
    } 

    &_active {
      opacity: .5; 
      
      &:hover, &:focus {
        opacity: .5;
      }
    }
  }  

  &__item {

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 66px;
      transform: rotate(45deg);
      width: 2px;
      height: 8px;
      background-color: $black;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 66px;
      transform: rotate(-45deg);
      width: 2px;
      height: 8px;
      background-color: $black;
    }
  }
  
  &__item-2 {

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 170px;
      transform: rotate(45deg);
      width: 2px;
      height: 8px;
      background-color: $black;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 170px;
      transform: rotate(-45deg);
      width: 2px;
      height: 8px;
      background-color: $black;
    }
  }
}
